<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.yedam.mapper.ReplyMapper">
	<select id="selectList" parameterType="int" >
		select reply_no
			  ,replyer
			  ,reply
			  ,board_no
			  ,reply_date
		from  tbl_reply
		where board_no = #{bno}
		order by reply_no
	</select>
	
	<!-- 댓글 페이징. -->
	<select id="selectListPaging" parameterType="com.yedam.common.SearchDTO">
		select b.*
		from(select /*+INDEX_DESC (r PK_REPLY)*/ rownum rn, r.*  
    		 from tbl_reply r
     		 where board_no = #{boardNo})b
     	<![CDATA[	 
		where b.rn <= #{page}*5
		]]>
		and b.rn > (#{page} -1)*5
	</select>
	
	
	
	<delete id="deleteReply" parameterType="int">
		delete from tbl_reply
		where reply_no = #{rno}
	</delete>
	
	<delete id="deleteReplys" parameterType="string">
		delete from tbl_reply
		where reply_no in 
		<foreach collection="array" item="reply" open="(" separator="," close=")">
			#{reply}
		</foreach>
	</delete>
	
  <select id="selectKey" resultType="int">
    select reply_seq.nextval
    from dual
  </select>
	
	
  <insert id="insertReply" parameterType="com.yedam.vo.ReplyVO">
    insert into tbl_reply (reply_no, replyer, reply, board_no)
    values (#{replyNo}, #{replyer}, #{reply}, #{boardNo})
  </insert>
  
  <select id ="selectReplyCount" parameterType="int">
  	select count(1)
  	from tbl_reply
  	where board_no = #{bno} 
  </select>
	
	
	
	<select id ="selectEvent" useCache = "false" resultType="map"> <!-- 
	 마이바티스는 메모리를 아끼기 위해 한번썻던 쿼리는 캐시에 저장해놈 그래서 다시 실행하면 새로 쿼리가 아닌 전에[했던 쿼리값 그대로 가져옴 그래서 유즈캐시를 폴스로 하면 할때마다 새로하게 해줌 -->
		select title as "title"
			  ,start_date as "start"
			  ,end_date as "end"
		from  tbl_calendar
	</select>
	
	<insert id="insertEvent" parameterType="com.yedam.common.SearchDTO">
		insert into tbl_calendar values(#{title},#{start},#{end})
	</insert>

	<delete id="deleteEvent" parameterType="com.yedam.common.SearchDTO">
		delete from tbl_calendar
		where title = #{title}
		and   start_date = #{start}
		and   end_date = #{end}
	</delete>
</mapper>

